<div class="list-group">
  <%= link_to "Admin Panel", admin_users_path, class: "list-group-item list-group-item-action active" %>
  <%= link_to "Kullanıcılar", admin_users_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Tüm Postlar", admin_posts_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Siteye Dön", root_path, class: "list-group-item list-group-item-action" %>
</div>
